app:
  build: .
  environment:
    - MONGO_DB_NAME=myjson
    - VIRTUAL_HOST=api.musedlab.org
    - LETSENCRYPT_HOST=api.musedlab.org
    - LETSENCRYPT_EMAIL=asyrique.at@nyu.edu
  links:
    - mongo
mongo:
  image: mongo:3.2
backup:
  image: istepanov/mongodump
  volumes:
    - /srv/app/api/backups:/backup
  environment:
    CRON_SCHEDULE: "0 1 * * *"
  links:
    - mongo
